@{
    ViewData["Title"] = "IA";    
}

<ul class="nav nav-tabs" style="margin-top: 5px;">
    <li role="presentation" class="active"><a href="#visual">Seeing</a></li>    
    <li role="presentation"><a href="#terminal">Terminal</a></li>
    <li role="presentation"><a href="#aprendizaje">Learning</a></li>
    <li role="presentation"><a href="#monitorizacion">Monitoring</a></li>
</ul>

<div class="tab-content">
    <div id="visual" class="tab-pane fade in active">
        <div class="panel panel-default" style="margin-top: 20px">
            <div class="panel-heading">
                <h3 class="panel-title">Input</h3>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <button style="width: 98px; height: 98px; padding: 0px 0px 0px 0px;" type="button" class="btn btn-default btn-input" data-toggle="button" aria-pressed="false" autocomplete="off">
                                    <img style="width: 85px; height: 85px;" src="~/images/inputs/colors-black.gif">
                                </button>
                                <button style="width: 98px; height: 98px; padding: 0px 0px 0px 0px;" type="button" class="btn btn-default btn-input" data-toggle="button" aria-pressed="false" autocomplete="off">
                                    <img style="width: 85px; height: 85px;" src="~/images/inputs/colors-white.gif">
                                </button>
                            </div>
                            <div class="row">
                                <button style="width: 98px; height: 98px; margin-top: 3px; padding: 0px 0px 0px 0px;" type="button" class="btn btn-default btn-input" data-toggle="button" aria-pressed="false" autocomplete="off">
                                    <img style="width: 85px; height: 85px;" src="~/images/inputs/colors-red.gif">
                                </button>
                                <button style="width: 98px; height: 98px; margin-top: 3px; padding: 0px 0px 0px 0px;" type="button" class="btn btn-default btn-input" data-toggle="button" aria-pressed="false" autocomplete="off">
                                    <img style="width: 85px; height: 85px;" src="~/images/inputs/colors-green.gif">
                                </button>
                            </div>
                            <div class="row">
                                <button style="width: 98px; height: 98px; margin-top: 3px; padding: 0px 0px 0px 0px;" type="button" class="btn btn-default btn-input" data-toggle="button" aria-pressed="false" autocomplete="off">
                                    <img style="width: 85px; height: 85px;" src="~/images/inputs/colors-blue.gif">
                                </button>
                                <button style="width: 98px; height: 98px; margin-top: 3px; padding: 0px 0px 0px 0px;" type="button" class="btn btn-default btn-input" data-toggle="button" aria-pressed="false" autocomplete="off">
                                    <img style="width: 85px; height: 85px;" src="~/images/inputs/colors-orange.gif">
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <img style="width: 100px; height: 100px;" alt="100x100" class="img-thumbnail img-before no-clicked" src="~/images/image-background-before.gif">
                                <img style="width: 100px; height: 100px;" alt="100x100" class="img-thumbnail img-before no-clicked" src="~/images/image-background-before.gif">
                                <img style="width: 100px; height: 100px;" alt="100x100" class="img-thumbnail img-before no-clicked" src="~/images/image-background-before.gif">
                            </div>
                            <div class="row">
                                <img style="width: 100px; height: 100px;" alt="100x100" class="img-thumbnail img-before no-clicked" src="~/images/image-background-before.gif">
                                <img style="width: 100px; height: 100px;" alt="100x100" class="img-thumbnail img-before no-clicked" src="~/images/image-background-before.gif">
                                <img style="width: 100px; height: 100px;" alt="100x100" class="img-thumbnail img-before no-clicked" src="~/images/image-background-before.gif">
                            </div>
                            <div class="row">
                                <img style="width: 100px; height: 100px;" alt="100x100" class="img-thumbnail img-before no-clicked" src="~/images/image-background-before.gif">
                                <img style="width: 100px; height: 100px;" alt="100x100" class="img-thumbnail img-before no-clicked" src="~/images/image-background-before.gif">
                                <img style="width: 100px; height: 100px;" alt="100x100" class="img-thumbnail img-before no-clicked" src="~/images/image-background-before.gif">
                            </div>
                            <div class="row" style="margin-top: 5px;">                                          
                                 <button id="send1" type="button" class="btn btn-default btn-lg" disabled>
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;&nbsp;Send View 1!
                                </button>
                                 <button id="clean1" type="button" class="btn btn-default btn-lg" disabled>
                                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>&nbsp;&nbsp;Clean 1&2
                                </button>
                            </div>   
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <img style="width: 100px; height: 100px;" alt="100x100" class="img-thumbnail img-after no-clicked" src="~/images/image-background-after.gif">
                                <img style="width: 100px; height: 100px;" alt="100x100" class="img-thumbnail img-after no-clicked" src="~/images/image-background-after.gif">
                                <img style="width: 100px; height: 100px;" alt="100x100" class="img-thumbnail img-after no-clicked" src="~/images/image-background-after.gif">
                            </div>
                            <div class="row">
                                <img style="width: 100px; height: 100px;" alt="100x100" class="img-thumbnail img-after no-clicked" src="~/images/image-background-after.gif">
                                <img style="width: 100px; height: 100px;" alt="100x100" class="img-thumbnail img-after no-clicked" src="~/images/image-background-after.gif">
                                <img style="width: 100px; height: 100px;" alt="100x100" class="img-thumbnail img-after no-clicked" src="~/images/image-background-after.gif">
                            </div>
                            <div class="row">
                                <img style="width: 100px; height: 100px;" alt="100x100" class="img-thumbnail img-after no-clicked" src="~/images/image-background-after.gif">
                                <img style="width: 100px; height: 100px;" alt="100x100" class="img-thumbnail img-after no-clicked" src="~/images/image-background-after.gif">
                                <img style="width: 100px; height: 100px;" alt="100x100" class="img-thumbnail img-after no-clicked" src="~/images/image-background-after.gif">
                            </div>
                            <div class="row" style="margin-top: 5px;">                                          
                                <button id="send2" type="button" class="btn btn-default btn-lg" disabled>
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;&nbsp;Send View 1&2!
                                </button>
                                <button id="clean2" type="button" class="btn btn-default btn-lg" disabled>
                                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>&nbsp;&nbsp;Clean 2
                                </button>
                            </div>                            
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Output</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
        </div>
    </div>    
    <div id="terminal" class="tab-pane fade">
      <h3>Terminal</h3>
        <div class="row message-body">
            <div class="col-sm-12 message-main-receiver">
              <div class="receiver">
                <div class="message-text">
                 Hyy, Its Awesome..! Terminal y voz estan unidos en una misma TAB
                </div>
                <span class="message-time pull-right">
                  Sun
                </span>
              </div>
            </div>
          </div>

          <div class="row message-body">
            <div class="col-sm-12 message-main-sender">
              <div class="sender">
                <div class="message-text">
                  Thanks n I know its awesome...!
                </div>
                <span class="message-time pull-right">
                  Sun
                </span>
              </div>
            </div>            
          </div>
        </div>
        <!-- Message Box End -->

        <!-- Reply Box -->
        <div class="row reply">
          <div class="col-sm-1 col-xs-1 reply-emojis">
            <i class="fa fa-smile-o fa-2x"></i>
          </div>
          <div class="col-sm-9 col-xs-9 reply-main">
            <textarea class="form-control" rows="1" id="comment"></textarea>
          </div>
          <div class="col-sm-1 col-xs-1 reply-recording">
            <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
          </div>
          <div class="col-sm-1 col-xs-1 reply-send">
            <i class="fa fa-send fa-2x" aria-hidden="true"></i>
          </div>
        </div>
    
    <div id="aprendizaje" class="tab-pane fade">
      <h3>Aprendizaje</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <div id="monitorizacion" class="tab-pane fade">
      <h3>Monitorización</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
</div>

