@{
    ViewData["Title"] = "IA";    
}

<ul class="nav nav-tabs" style="margin-top: 5px;">
    <li role="presentation" class="active"><a href="#">Visual</a></li>
    <li role="presentation"><a href="#">Voz</a></li>
    <li role="presentation"><a href="#">Terminal</a></li>
    <li role="presentation"><a href="#">Aprendizaje</a></li>
    <li role="presentation"><a href="#">Monitorización</a></li>
</ul>
