@{
    ViewData["Title"] = "IA";    
}

<ul class="nav nav-tabs" style="margin-top: 5px;">
    <li role="presentation"><a href="/IA/Seeing">Seeing</a></li>    
    <li role="presentation" class="active"><a href="#">Terminal</a></li>
    <li role="presentation"><a href="/IA/Learning">Learning</a></li>
    <li role="presentation"><a href="/IA/Monitoring">Monitoring</a></li>
</ul>